.fill-gray {background-color: rgba(200,200,200,1);}
.fill-blue {background-color: rgba(92,155,213,1);}
.fill-teal {background-color: rgba(32,204,229,1);}
.fill-green {background-color: rgba(169,209,142,1);}
.fill-orange {background-color: rgba(251,217,102,1);}
.fill-red {background-color: rgba(255,113,120,1);}
.fill-lightgray {background-color: rgba(217,217,217,1);}
.fill-lightblue {background-color: rgba(157,195,230,1);}		

.outline-gray {border-color: rgba(200,200,200,1);}
.outline-blue {border-color: rgba(92,155,213,1);}
.outline-teal {border-color: rgba(32,204,229,1);}
.outline-green {border-color: rgba(169,209,142,1);}
.outline-orange {border-color: rgba(92,155,213,1);}
.outline-red {border-color: rgba(255,113,120,1);}
.outline-lightgray {border-color: rgba(217,217,217,1);}
.outline-lightblue {border-color: rgba(157,195,230,1);}	

.color-gray {color: rgba(200,200,200,1);}
.color-blue {color: rgba(92,155,213,1);}
.color-teal {color: rgba(32,204,229,1);}
.color-green {color: rgba(169,209,142,1);}
.color-orange {color: rgba(251,217,102,1);}
.color-lightgray {color: rgba(217,217,217,1);}
.color-lightblue {color: rgba(157,195,230,1);}

.body{
    display: flex;
}

.icon {
    max-height: 40px;
    max-width: 40px;
}

.icon-button {
    max-height: 40px;
    max-width: 40px;
    cursor: pointer;
}

.panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 15px lightgray;
    padding: 20px;
    border-radius: 10px;
    background: white;

}



@media( width <= 1000){
    .panel{
        border-radius: 0px;
        box-shadow: none;
    }
}

.icon {
    max-width: 30px;
    max-height: 30px;
}


.grid{
    display: grid;
    width: 100%;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

::placeholder{
    color: rgba(200,200,200,1)
}